<Tile TileId="location" BackgroundUrl="https://i.imgur.com/E4Mjnpd.jpeg">
    <TileContent>
        <h2>Location</h2>

        <h4>Seville, Spain</h4>

        <p>
            We'll be hosting you at Spanish hacienda (a traditional country estate)
            just outside of Seville.
        </p>
    </TileContent>
</Tile>
