@rendermode InteractiveServer

@if (CheckPassed) {
    <div>
        <label>Name: </label>
        <input /><br>
        <label>Something: </label>
        <input />
    </div>
}
else {
    <div>
        <label>Passcode: </label>
        <input @bind="UserConfirmation" />
        <button @onclick="CheckConfirmation">Submit</button>
    </div>
    <p>@CheckMessage</p>
}

@code{
    [Parameter]
    public string Confirmation { get; set; }

    public string UserConfirmation { get; set; }

    public bool CheckPassed { get; set; } = false;

    public string CheckMessage { get; set; } = "";

    private void CheckConfirmation() {
        CheckPassed = UserConfirmation == Confirmation;
        CheckMessage = CheckPassed
            ? "RSVP confirmed"
            : "Code does not match";
    }
}