@using wedding_site.Domain

@rendermode InteractiveServer

@inject IRsvpRepo RsvpRepo

@if (CheckPassed) {
    <div>
        <label>Name: </label>
        <input @bind="Rsvp.Name"/><br>
        <label>Attending: </label>
        <input type="checkbox" @bind="Rsvp.Attending"/><br>
        <label>Food Alergies: </label>
        <input @bind="Rsvp.FoodAlergies" /><br>
        <button @onclick="SaveRsvp">Save</button>
    </div>
}
else {
    <div>
        <label>Passcode: </label>
        <input @bind="UserConfirmation" />
        <button @onclick="CheckConfirmation">Submit</button>
    </div>
}

<p>@Message</p>

@code{
    [Parameter]
    public Domain.Rsvp Rsvp { get; set; }

    public string UserConfirmation { get; set; }

    public bool CheckPassed { get; set; } = false;

    public string Message { get; set; } = "";

    private void CheckConfirmation() {
        CheckPassed = UserConfirmation == Rsvp.ConfirmationCode;
        Message = CheckPassed
            ? ""
            : "Code does not match";
    }

    private async Task SaveRsvp() {
        await RsvpRepo.SaveRsvp(Rsvp);

        Message = "Your RSVP has been saved";
    }
}