<div id="@TileId" class="tile">
    <div class="scrolling-background">
        @foreach (var backgroundUrl in BackgroundUrls) {
            <img src="@backgroundUrl">
        }
    </div>
    <div class="info">
        <div class="info-content">
            @TileContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required string TileId { get; set; }

    [Parameter]
    public required string[] BackgroundUrls { get; set; } = ["https://i.imgur.com/YtGvW43.jpeg"];

    [Parameter]
    public required RenderFragment TileContent { get; set; }
}