<ScrollingTile TileId="adopting-bonbon" BackgroundUrls=@(["https://i.imgur.com/ZubPBNN.jpeg", "https://i.imgur.com/SDMHzMz.jpeg", "https://i.imgur.com/rpc9cRs.jpeg", "https://i.imgur.com/V7P8adR.jpeg", "https://i.imgur.com/5iv4rFK.jpeg", "https://i.imgur.com/VVIsHBR.jpeg"])>
    <TileContent>
        <h2>We adopted Bonbon!</h2>
        <p>
            In January 2023, Bonbon melted his way into our hearts.
        </p>
        <p>
            We only saw 7 pictures of him before deciding to adopt him,
            but we could see his lovely, cheeky, personality shine through.
        </p>
    </TileContent>
</ScrollingTile>