<Tile TileId="buying-flat" BackgroundUrl="https://i.imgur.com/BYD3doa.jpeg">
    <TileContent>
        <h2>We bought a flat together</h2>
        <p>
            As moving in together after 4 months wasn't quite quick enough
            for us, after about 9 months we decided to buy a flat together
            in Poblenou.
        </p>
        <p>
            It was exactly ready to be lived in yet, but we had big plans for it.
        </p>
    </TileContent>
</Tile>