<Tile TileId="renovation" BackgroundUrl="https://i.imgur.com/OSQn1f4.jpeg">
    <TileContent>
        <h2>Renovating the flat</h2>
        <p>
            Stressful both mentally and financially,
            renovating the flat in Poblenou wasn't an easy undertaking.
        </p>
    </TileContent>
</Tile>