<Tile TileId="meeting" BackgroundUrl="https://i.imgur.com/NLxzlmf.jpeg">
    <TileContent>
        <h2>We met</h2>
        <p>
            Emilie and Alastair both signed up for the same ride in November: The Monserratina
        </p>
        <p>
            Despite the ride being significantly faster than the advertised pace,
            Emilie stuck it out and made it to the end and agreed to meet Alastair
            for another bike ride in the future.
        </p>
    </TileContent>
</Tile>