<ScrollingTile TileId="moving-in-together" BackgroundUrls=@(["https://i.imgur.com/YtGvW43.jpeg", "https://i.imgur.com/YtGvW43.jpeg", "https://i.imgur.com/eNEoDAL.jpeg"])>
    <TileContent>
        <h2>We moved in together</h2>
        <p>
            After knowing each other for 4-5 months, Alastair needed somewhere
            to stay as he had to leave the room he was living in.
        </p>
        <p>
            Luckily Emilie trusted him enough it seems to let him move into her
            flat in Poble Sec.
        </p>
    </TileContent>
</ScrollingTile>