<Tile TileId="moving-in-poblenou" BackgroundUrl="https://i.imgur.com/eNEoDAL.jpeg">
    <TileContent>
        <h2>Moving to Our New Flat</h2>
        <p>
            It took a lot of work to get the flat into an almost liveable state,
            but once it was, we moved straight in.
        </p>
        <p>
            It may not have had a kitchen, or any sinks, and nothing but a couple of bare bulbs
            for lights, but we made it work
        </p>
    </TileContent>
</Tile>