<div class="top-menu">
    <div class="top-menu-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            E&A 2025
        </NavLink>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link" href="/OurStory">Our Story</NavLink>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link" href="/Info">Info</NavLink>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link" href="/RSVP">RSVP</NavLink>
    </div>
</div>