.top-menu-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.dropdown-toggler {
    appearance: none;
    cursor: pointer;
    width: 1rem;
    height: calc(100% - 8px);
    border-radius: 0 4px 4px 0;
    color: white;
    top: 0.5rem;
    left: 1rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-expand' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708m0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708'/%3E%3C/svg%3E") no-repeat center;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.top-menu-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-menu {
    min-width:12rem;
    display: none;
    color: white;
}

.top-menu ::deep a {
    color: white;
}

.top-menu-item {
    height: 3rem;
    padding: 0.5rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.top-menu-item ::deep a {
    text-decoration: none;
    padding: 0;
    width: calc(100% - 8px - 1rem);
    height: calc(100% - 8px);
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top-menu-item ::deep a.active {
    background-color: rgba(255,255,255,0.3);
}

.top-menu-item ::deep a.active ~ .dropdown-toggler {
    background-color: rgba(255,255,255,0.3);
}

.top-menu-item ::deep a:hover {
    background-color: rgba(255,255,255,0.2);
}

.top-menu-item ::deep a:hover ~ .dropdown-toggler {
    background-color: rgba(255,255,255,0.2);
}

.dropdown {
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
    min-width: 100%;

    background-color: rgba(10,10,10,0.7);

    z-index: 3;
}

.dropdown a {
    margin: 4px;
    padding: 0.5rem;
    justify-content: left;
}

/*.top-menu-item:hover .dropdown {
    display: block;
}*/

.dropdown-toggler:checked ~ .dropdown {
    display: block;
}

.top-menu-toggler:checked ~ .top-menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: rgba(10,10,10,0.7);
}

@media (min-width: 641px) {
    .top-menu-toggler {
        display: none;
    }

    .top-menu {
        display: block;
        width: 80%;
        height: 100%;
    }

    .top-menu-item {
        padding: 0;
        float: left;
        width: 25%;
        height: 100%;
    }

    .dropdown {
        top: 100%;
        left: 0%;
    }
}