<div class="top-menu">
    <div class="top-menu-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            E&A 2025
        </NavLink>
        <div class="dropdown">
            <a href="/#home">Date</a>
            <a href="/#location">Location</a>
            <a href="/#dress-code">DressCode</a>
            <a href="/#itinerary">Itinerary</a>
            <a href="/#rsvp">RSVP</a>
        </div>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link" href="/OurStory">Our Story</NavLink>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link" href="/Info">Info</NavLink>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link" href="/RSVP">RSVP</NavLink>
    </div>
</div>