<input type="checkbox" title="Navigation menu" class="top-menu-toggler" />

<div class="top-menu">
    <div class="top-menu-item">
        <NavLink class="nav-link top-nav" href="/" Match="NavLinkMatch.All">
            E&A 2025
        </NavLink>
        <input type="checkbox" class="dropdown-toggler" title="Blam" />
        <div class="dropdown">
            <a class="dropdown-item" href="/#home">Date</a>
            <a class="dropdown-item" href="/#location">Location</a>
            <a class="dropdown-item" href="/#dress-code">DressCode</a>
            <a class="dropdown-item" href="/#itinerary">Itinerary</a>
            <a class="dropdown-item" href="/#rsvp">RSVP</a>
        </div>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link top-nav" href="/OurStory">
            Our Story
        </NavLink>
        <input type="checkbox" class="dropdown-toggler" title="Blam" />
        <div class="dropdown">
            <a class="dropdown-item" href="/OurStory#meeting">Meeting</a>
            <a class="dropdown-item" href="/OurStory#first-weekend">First Weekend</a>
            <a class="dropdown-item" href="/OurStory#moving-in-together">Moving In</a>
            <a class="dropdown-item" href="/OurStory#buying-flat">Buy a Flat</a>
            <a class="dropdown-item" href="/OurStory#adopting-bonbon">Adoting Bonbon</a>
            <a class="dropdown-item" href="/OurStory#moving-in-poblenou">Moving to Poblenou</a>
            <a class="dropdown-item" href="/OurStory#renovation">Flat Renovation</a>
            <a class="dropdown-item" href="/OurStory#proposal">Proposal</a>
            <a class="dropdown-item" href="/OurStory#mexico">Mexico</a>
        </div>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link top-nav" href="/Info">
            Info
        </NavLink>
        <input type="checkbox" class="dropdown-toggler" title="Blam" />
        <div class="dropdown">
            <a class="dropdown-item" href="/Info#transport">Transport</a>
            <a class="dropdown-item" href="/Info#hotels">Accommodation</a>
            <a class="dropdown-item" href="/Info#restaurants">Where to eat</a>
            <a class="dropdown-item" href="/Info#what-to-see">What to see</a>
            <a class="dropdown-item" href="/Info#faq">FAQ</a>
        </div>
    </div>

    <div class="top-menu-item">
        <NavLink class="nav-link top-nav dropdown-item" href="/RSVP">RSVP</NavLink>
    </div>
</div>