@using wedding_site.Domain

@rendermode InteractiveServer

@inject IRsvpRepo RsvpRepo

<div>
    @if (Rsvp.Attending){
        <p>We can't wait to see you in Seville!</p>
        <p>Please let us know who will be joining you and any dietary requirements below</p>
    }
    else {
        <p>Sorry you won't be able to make it. If anything changes and you can come, you can change your response here.</p>
    }
    <p>
        We will be attending:
        <InputRadioGroup Name="attending" @bind-Value="Rsvp.Attending" TValue="bool">
            <label>
                Yes
                <InputRadio Name="attending" Value="true" />
            </label>
            <label>
                No
                <InputRadio Name="attending" Value="false" />
            </label>
        </InputRadioGroup>
    </p>
</div>
<p>Attendees:</p>
<div class='attendees'>
    @foreach (var attendee in Rsvp.Attendees) {
        <div class="attendee">
            <div class="attendee-info">
                <label>Name: </label>
                <input type="text" class="attendee-name" @bind="attendee.Name" />
                @if (Rsvp.Attending)
                {
                    <label for="vegetarian-@attendee.Name">Vegetarian
                        <input class="dietary-check" id="vegetarian-@attendee.Name" type="checkbox"
                            @bind="attendee.FoodRequirements.Vegetarian" /></label>
                    <label>Vegan
                        <input class="dietary-check" id="vegan" type="checkbox"
                            @bind="attendee.FoodRequirements.Vegan" /></label>
                    <label>Coeliac
                        <input class="dietary-check" id="coeliac" type="checkbox"
                            @bind="attendee.FoodRequirements.Coeliac" /></label>
                    <label>Other
                <input class="dietary-check" id="other" type="checkbox"
                    @bind="attendee.FoodRequirements.Other" /></label>
                }
                <br>
                @if (Rsvp.Attending && attendee.FoodRequirements.Other)
                {
                    <label>
                        @attendee.Name's other food requirements:
                        <input type="text" @bind="attendee.FoodRequirements.OtherDescription" />
                    </label>
                    <br>
                }
            </div>
            <div class="remove-attendee">
                @if (Rsvp.Attendees.Count() > 1)
                {
                    <button @onclick="() => RemoveAttendee(attendee)">X</button>
                }
            </div>
        </div>
    }
    @if (Rsvp.Attending) {
    <button @onclick="AddAttendee">
        Add Attendee
    </button>
    }
    else {
    <button @onclick="AddAttendee">
        Add Person
    </button>
    }
</div>
<div>
    <button @onclick="SaveRsvp">Save</button>
    <p>@Message</p>
</div>

@code{
    [Parameter]
    public Domain.Rsvp Rsvp { get; set; }

    public string Message { get; set; } = "";

    private void AddAttendee() {
        Rsvp.Attendees.Add(new Attendee());
    }

    private void RemoveAttendee(Attendee attendee){
        Rsvp.Attendees.Remove(attendee);
    }

    private async Task SaveRsvp() {
        await RsvpRepo.SaveRsvp(Rsvp);

        Message = "Your RSVP has been saved";
    }

    protected override void OnInitialized() {
        if (Rsvp.Attendees.Count() == 0)
            AddAttendee();
    }
}