@using wedding_site.Domain

@rendermode InteractiveServer

@if (CheckPassed) {
    <InitialRsvp Rsvp=@Rsvp />
}
else {
    <div>
        <label>Passcode: </label>
        <input @bind="UserConfirmation" />
        <button @onclick="CheckConfirmation">Submit</button>
    </div>
    <p>@Message</p>
}

@code{
    [Parameter]
    public Domain.Rsvp Rsvp { get; set; }

    public string UserConfirmation { get; set; }

    public bool CheckPassed { get; set; } = false;

    public string Message { get; set; } = "";

    private void CheckConfirmation() {
        CheckPassed = UserConfirmation == Rsvp.ConfirmationCode;
        Message = CheckPassed
            ? ""
            : "Code does not match";
    }
}