.attendees {
    overflow: auto;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendee {
    align-self:stretch;
    flex-basis:100%;

    display: flex;
    justify-content: center;
}

.attendee-info {
    flex-grow: 8;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(255,255,255,0.7);
    padding-bottom: 1em;
    padding-top:1em;
}

.name-and-switches {
    display: flex;
}

.attendee-name {
    flex: 1;
}

.info-switches {
    flex: 1;
}

.remove-attendee {
    flex-grow: 1;
    align-self: center;
    max-width: 100px;

    padding: 1em;
}

label:has(input[type=radio]) {
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(255,255,255,0.1);
}

label:has(input[type=radio]:checked) {
    border: 2px solid rgba(255,255,255, 0.5);
    background-color: rgba(255,255,255, 0.3);
}

label:has(input[type=checkbox]) {
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgba(255,255,255,0.1);
}

label:has(input[type=checkbox]:checked) {
    border: 2px solid rgba(255,255,255, 0.5);
    background-color: rgba(255,255,255, 0.3);
}

input[type=checkbox] {
    display: none;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid white;
    background-color: rgba(255,255,255,0.2);
    color: white;
}

input[type=text]:focus {
    background-color: rgba(255,255,255,0.8);
    color: black;
    border-bottom: 2px solid blue;
}

button {
    border-radius: 6px;
    background-color: rgba(200,200,200,0.8);
}

@media (max-width: 800px) {
    .name-and-switches {
        flex-direction: column;
    }
}