@page "/"

<PageTitle>E&A 2025</PageTitle>

<div id="home" class="tile">
<div class="info">
<div class="info-content">
<h1>Emilie & Alastair's Wedding</h1>

<p>Happening on 17th May 2025 in Sevilla</p>
<p>Formal dress code</p>
</div>
</div>
</div>

<Location />
