@page "/"

<PageTitle>E&A 2025</PageTitle>

<div id="home" class="tile">
<div class="info">
<div class="info-content">
<h1>Emilie & Alastair's Wedding</h1>

<h3>17th May 2025</h3>
</div>
</div>
</div>

<Location />
<Itinerary />
