@page "/itinerary"

<div id="itinerary" class="tile">
<div class="info">
<div class="info-content">
<h2>Itinerary</h2>

<ul class="agenda">
    <li>19:30 - Meet at meeting point</li>
    <li>20:00 - Service begins</li>
    <li>20:45 - Cocktail and nibbles</li>
    <li>22:00 - Dinner</li>
    <li>23:30 - Dance</li>
    <li>04:00 - Bar closes</li>
    <li>06:00 - Hopefully you're home...</li>
</ul>
</div>
</div>
</div>

@code {

}
