@page "/location"

<div id="location" class="tile">
<div class="info">
<div class="info-content">
<h2>Location</h2>

<h4>Seville, Spain</h4>

<p>
    We'll be hosting you at Spanish hacienda (a traditional country estate)
    just outside of Seville.
</p>
</div>
</div>
</div>
