@page "/OurStory"

<PageTitle>E&A - Our Story</PageTitle>

<div id="location" class="tile">
<div class="info">
<div class="info-content">

<h1>OurStory</h1>

<p>Where it all began...</p>

</div>
</div>
</div>

@code {

}
